<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">

	
<mapper namespace="com.ict.mapper.ReplyMapper">

	<!-- ■ 특정 게시판의 전체 댓글 가져오기 -->
	<select id="getList" resultType="com.ict.domain.ReplyVO">
		SELECT * FROM reply_tbl
			WHERE bno = #{bno}
		ORDER BY rno DESC
	</select>
	
	<!-- ■ 댓글 작성 -->
	<insert id="create">
		INSERT INTO reply_tbl
		(rno, bno, reply, replyer)
			VALUES
		(reply_num.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
	
	<!-- ■ 댓글 수정 -->
	<update id="update">
		UPDATE reply_tbl
			SET
		reply = #{reply}, updateDate = SYSDATE
			WHERE rno = #{rno}
	</update>
	
	<!-- ■ 댓글 삭제 -->
	<delete id="delete">
		DELETE FROM reply_tbl
			WHERE rno = #{rno}
	</delete>
	
	<!-- ■ 05.03 모든 댓글 삭제 (board_tbl의 bno가 필요) -->
	<delete id="deleteAllRepl">
		DELETE FROM reply_tbl WHERE bno = #{bno}	
	</delete>


	<!-- ■ 05.02 특정 댓글 번호의 글번호를 가져오기-->
	<select id="getBno" resultType="long">			
		SELECT bno FROM reply_tbl
			WHERE
		rno = #{rno}
	</select>


</mapper>